version: "3.1"
services:
  jenkin:
    image: dvzpoc/jenkins:latest
    volumes:
      - jenkins_home:/var/jenkins_home
    restart: "no"
    ports:
      - 80:8080
      - 50000:50000
  sonarqube:
    image: dvzpoc/sonarqube:latest
    volumes:
      - sonarqube_conf:/opt/sonarqube/conf
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_data:/opt/sonarqube/data sonarqube
    restart: "no"
    ports:
      - 9000:9000
  taskmeui:
    image: dvzpoc/taskmeui:latest
    ports:
      - 5000:5000
    depends_on:
      - "jenkin"
  # taskmedb:
  #   image: dvzpoc/taskmedb:latest
  #   restart: "no"
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - "jenkin"
  #     - "taskmeui"
volumes:
  jenkins_home:
  sonarqube_conf:
  sonarqube_extensions:
  sonarqube_logs:
  sonarqube_data:
networks:
  default:
    external:
      name: taskme-network



